/.env
/.env.*
!/.env.example

/vendor/
/composer.phar
/node_modules/

/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep

/storage/*.key
/storage/app/*
!/storage/app/.gitkeep
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/cache/data/*
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep

/.phpunit.result.cache
/public/storage
/public/hot

*.log
*.tmp
*.bak
*.tar
*.tar.gz
